**/.vs
*.sbr
*.bsc
*.pch
*.lib
*.obj
*.tlog
*.log
*.recipe
*.res
*.pdb
*.user
*.tlh
*.tli
*.exp
*.ilk
*.stamp
*.filters
*.stamp.depend

Code/CMakeFiles/*
CMakeCache.txt

Code/GameEngine/Include/GameNetwork/NextGenMP/Vendor/*

Run/*
Code/out/